<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    color:white;
    text-decoration: none;
}

.imagen__logo { 
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
   

}

body{              
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;        
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;    
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;    
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #BFD9D2;
}

.caja__trasera div{
    margin: 100px 40px;
    color: black;
    transition: all 500ms;    
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: black;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #BFD9D2;
    color: black;
}

/*Formularios*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;    

    transition: left 580ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: black;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;    
    color: #BFD9D2 ;    
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;    
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border-color: white;
    font-size: 14px;
    background: #BFD9D2;
    color: black;
    cursor: pointer;
    outline: none;           
}

.formulario__login{
    opacity: 1;
    display: block;    
}

.formulario__register{
    display: none;    
}

/*Trabajando en el responsive design*/

@media screen and (max-width: 850px) {
    
    main{
        margin-top: 80px;        
    }

    .caja__trasera{
        max-width: 350px;        
        height: 300px;
        flex-direction: column;
        margin: auto;        
    }

    .caja__trasera div{
        margin: 8px;
        position: absolute;
    }

    /*Formulario*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    color:white;
    text-decoration: none;
}

.imagen__logo { 
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
   

}

body{              
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;        
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;    
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;    
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #BFD9D2;
}

.caja__trasera div{
    margin: 100px 40px;
    color: black;
    transition: all 500ms;    
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: black;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #BFD9D2;
    color: black;
}

/*Formularios*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;    

    transition: left 580ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: black;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;    
    color: #BFD9D2 ;    
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;    
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border-color: white;
    font-size: 14px;
    background: #BFD9D2;
    color: black;
    cursor: pointer;
    outline: none;           
}

.formulario__login{
    opacity: 1;
    display: block;    
}

.formulario__register{
    display: none;    
}

/*Trabajando en el responsive design*/

@media screen and (max-width: 850px) {
    
    main{
        margin-top: 80px;        
    }

    .caja__trasera{
        max-width: 350px;        
        height: 300px;
        flex-direction: column;
        margin: auto;        
    }

    .caja__trasera div{
        margin: 8px;
        position: absolute;
    }

    /*Formulario*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
>>>>>>> 7060540 (JS to main)
}