*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
/*body{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    /*min-height: 100vh; 
    background-color: #F6F6F6; 
}*/ 
.contenedor{ 
    margin-top: 1%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
table{ 
    color: black; 
    font-size: 14px; 
    table-layout: fixed; 
    border-collapse:collapse ; 
} 
thead{ 
    background-color: #BFD9D2; 
} 
th{ 
    padding: 20px 15px; 
    font-weight: 700; 
    text-transform: uppercase; 
} 
td{ 
    padding: 15px; 
    border-bottom: solid 1px #BFD9D2; 
} 
tbody tr{ 
    cursor: pointer; 
} 
tbody tr:hover{ 
    background-color: #BFD9D2; 
} 
td button{ 
    margin: 10px; 
    padding: 10px; 
    border-radius: 10px; 
 
} 
.Actualizar{ 
    background-color:forestgreen; 
} 
.eliminar{ 
    background-color: crimson; 
}