
/* Globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #F6F6F6;
    font-family: 'calibri';
  }
  
  header {
    background: #BFD9D2;
    width: 100%;
    clear: both;
    content:'';
    display: flex;
    align-items: center;
  }
  
  .menu {
    width: 60%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    
  }
  .carrito{
    border: none;
    background-color: #BFD9D2;
    display: flex;
    float: right;

  }
  .carrito img{
    width: 50px;
  }
  .perfil {
    width: 70px;
    display: flex;
    float: right;
    text-align: center;

}
  .perfil img {
    margin-left: 5px;
    height: 50px;
    width: 50px;
}

  .perfil:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -0.25%;
  }

  .perfil ul {
    position: absolute;
    text-align: center;
    top: 80px;
    z-index: 11;
    display: none;
  }

  .perfil ul li {
    font-size: 14px;
    background-color: #BFD9D2;
    padding: 4px;
    z-index: 11;
    border-style: solid;
    transition: .5s;
    border-radius: 10%;
  }

/*Productos*/
  .producto{
    padding-top: 2%;
    width: 50%;
    padding-right: 2%;
    height: auto;
    float: right;
    display: inline-flex;
    flex-wrap: wrap;   
    justify-content: space-between;
  }
  .card {
    width: 190px;
    height: 204px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 1%;
   }
   
   .card-img {
    background-color: #BFD9D2;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .card-info {
    padding-top: 10%;
    overflow: hidden;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    overflow: hidden;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.0em;
    line-height: 1.5; 
    
   }
   
   .text-body {
    font-size: .8em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #BFD9D2;
    background-color: #BFD9D2;
   }
   
  .otros_productos{
    padding-top: 2%;
    height: auto;
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
  }

  img {
    width: 100px;
    height: 100px;
    float: left;
  
  }
  
  nav{
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 20px;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
  }

p{
    height: auto;
    width: 550px;
    font-size: 30px;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 200px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(18, 95, 60, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
.Explora{
  height: 70px;
  background-color: black;
  color: white;
  width: 150px;
  text-align: center;
  font-size: medium;
}
.texto_inicio{
  margin-top: 2%;
  padding-left: 2%;
  float: left;
  padding-right: 1%;
}
.texto_inicio h1{
  font-size: 40px;
  }

.button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}
  
.button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}
  
.button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}
  
.button span:not(hover) {
  transition: all 1s;
}

.img{
	width: 50%;
	height: auto;
	margin-top: 0px;
}
a{
  text-decoration: none;
  color:black;
}
.a{
  color: white;
}
.boton-user {
  display: inline-block;
  border-radius: 4px;
  background-color: #BFD9D2;
  border: none;
  color: black;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .boton-user span {
  cursor: pointer;
  text-align: right;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .boton-user span:after {
  content: '«';
  position: absolute;
  justify-content: left;
  opacity: 0;
  top: 0;
  right:60px;
  transition: 0.5s;
 }
 
 .boton-user:hover span {
  padding-left: 30px;
 }
 
 .boton-user:hover span:after {
  opacity: 1;
  right: -20;
 }
 .container-user {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
h1 {
  text-align: center;
  color: #333;
  margin-top: 0;
}
.user{
  display: inline-block ;
  margin-left: 15%;

}
.user-info {
 margin-top: 2%;
  list-style: none;
  padding: 4;
}
.user-info li {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.user-info label {
  font-weight: bold;
  color: #666;
}
.user-info span {
  color: #333;
}

.añadir{  
  display: inline-block;
  border-radius: 4px;
  background-color: #BFD9D2;
  border: none;
  color: black;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 10%;
}  
.añadir span {
  cursor: pointer;
  text-align: right;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .añadir span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
 }
 
 .añadir:hover span {
  padding-right: 40px;
 }
 
 .añadir:hover span:after {
  opacity: 1;
  left: -20;
 }
 .container-h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
.form-productos {
  margin-bottom: 15px;
}
.form-productos label {
  display: block;
  margin-bottom: 5px;
}
.form-productos input, .form-gproductos textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-productos textarea {
  resize: vertical;
}
